img {
  border-radius: 50%;
  width:350;
}
img:hover {
  box-shadow: 0 0 10px 1px rgba(0, 140, 186, 0.5);
}

body {
	font-family: Rockwell;
	background-image: url(images/bbbb.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
.button-bar {
  display: flex;
  justify-items: center;
  justify-content: space-around; 
  background-image: url("img/rrr.jpeg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px 2px #ccc;
  padding: 10px;
  border-radius: 25px;
  position:fixed;
  bottom: 90%;
  width: 35%;
  right: 0%;
  left: 0;
  margin: auto;
  
}
.button-bar button {
  padding: 10px 30px;
  color: white;
  border: 2 px;
  border-radius: 25px;
  cursor: pointer;
  
}

.button-bar button:hover {
	background-color: #edc39b;	
	
}